@import "../../../../variable";

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  .sidenav-container {
    width: 1280px;
    margin: auto;
    background: 0 0;

    @include for-size(lt-lg) {
      width: 100%;
    }
  }

  .sidenav {
    width: 200px;
  }

  mat-toolbar {
    height: 100%;
    background: 0 0;
    padding: 20px 0;
    position: relative;
    color: white;
    .menu_trigger {
      position: absolute;
      top: 30px;
      left: 30px;
      z-index: 10;
    }
    .logo_part_small {
      width: 100%;
      text-align: center;
    }
    .logo_part {
      cursor: pointer;
      img {
        width: 75px;
      }
    }

    .links_part {
      color: white;
      width: 100%;

      .active {
        border-bottom: 1px solid white;
      }

      .black {
        li {
          color: black;
        }
      }
      ul {
        li {
          cursor: pointer;
        }
      }
      .language_part {
        cursor: pointer;
        text-transform: capitalize;
        img {
          filter: invert(1);
        }
      }
    }
  }
}

::ng-deep .mat-menu-panel {
  min-width: auto !important;
  min-height: auto !important;
  color: black;
  .mat-menu-content:not(:empty) {
    padding: 0 !important;

    .language_list_div {
      padding: 7px;
      cursor: pointer;

      img {
        width: 25px;
        margin-right: 10px;
      }

      .lang_text {
        text-transform: capitalize;
      }
    }
  }
}
