@import "../../../variable.scss";
.about_main_container {
  background-image: url("../../../assets/images/about/about_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  .about_text {
    max-width: 1200px;
    width: 100%;
    .text {
      color: white;
      width: 300px;
      font-size: 20px;
      padding: 20px;
      background-color: #ffffff24;
    }
  }
}
