@import "../../../variable.scss";
.contacts_main_container {
  background-image: url("../../../assets/images/contact/contact_background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 100px;
  @include for-size(sm) {
    height: auto;
  }
  @include for-size(lt-sm) {
    height: 100%;
  }
  .contacts_section {
    .contacts_first_section {
      width: 515px;
      height: 435px;
      border-radius: 32px;
      border: 8px solid white;
      font-size: 50px;
      color: white;
      text-transform: capitalize;
      @include for-size(sm) {
        width: 415px;
        height: 335px;
        text-align: center;
      }
      @include for-size(lt-sm) {
        width: 300px;
        height: 300px;
        text-align: center;
      }
    }
    .contacts_icons_section {
      width: 170px;
      height: 435px;
      border-radius: 32px;
      border: 8px solid white;
      padding: 10px;
      margin: 10px;
      @include for-size(lt-sm) {
        width: 100px;
        height: 365px;
      }
      img {
        width: 82px;
        height: 82px;
        @include for-size(lt-sm) {
          width: 62px;
          height: 62px;
        }
      }
    }
    .contacts_text_section {
      height: 435px;
      @include for-size(lt-sm) {
        height: 365px;
      }
      div {
        height: 82px;
        span {
          color: white;
          font-size: 30px;
        }
      }
    }
  }
}
