@import "../../../variable.scss";
.home_main_container {
  background-image: url("../../../assets/images/home/home.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
