<div
  class="partners_main_container"
  fxLayout="row"
  fxLayoutAlign="center center"
>
  <div class="partners_text" fxLayout="row" fxLayoutAlign="start center">
    <div class="text">
      <span>{{ "PARTNERS.PARTNERS_UP_TEXT" | translate }}</span>
      <ul>
        <li>{{ "PARTNERS.PARTNERS_FIRST_LI_TEXT" | translate }}</li>
        <li>{{ "PARTNERS.PARTNERS_SECOND_LI_TEXT" | translate }}</li>
        <li>{{ "PARTNERS.PARTNERS_THIRD_LI_TEXT" | translate }}</li>
        <li>{{ "PARTNERS.PARTNERS_FORTH_LI_TEXT" | translate }}</li>
      </ul>
      <span>{{ "PARTNERS.PARTNERS_DOWN_TEXT" | translate }}</span>
    </div>
  </div>
</div>
