@import "../../../../../variable";

::ng-deep .mat-list-base {
  padding: 0;
}

.menu_side {
  padding: 10px;
  position: relative;
  color: black;
  .logo_part {
    cursor: pointer;
    text-align: center;
    img {
      width: 75px;
    }
  }

  .select_lang_div {
    width: 100%;

    .language_list {
      padding: 10px;
      .lang_curr_div {
        width: 100%;
      }

      .lang_text {
        font-size: 1.2rem;
      }
    }
  }
  ul {
    padding: 5px;
    font-size: 20px;
  }
}
